{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}stvari.si - write notes that stick{% endblock %}</title>
    
    {% block metadata %}
        <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="stvari.si" />
        <meta property="og:description" content="write notes that stick" />
        <meta property="og:image" content="{% static 'editor/images/facebook_share_collection.png' %}" />
    {% endblock %}

    <!-- Include Material icons font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <!-- Bootstrap native JavaScript library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/3.0.10/bootstrap-native.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'editor/css/style.css' %}">

    {% block head %}
        {% if request.session.tutorial%}
            <script src="https://unpkg.com/driver.js/dist/driver.min.js"></script>
            <link rel="stylesheet" href="https://unpkg.com/driver.js/dist/driver.min.css">
            <script src="{% static 'editor/js/tutorial/tutorial_user_profile.js' %}"></script>
        {% endif %}
    {% endblock %}

</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand h1 mb-0" id="tutorial_welcome" href="{% url 'landing_page' %}">stvari.si</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="{% trans 'Toggle menu' %}">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ml-auto align-items-center">
                    {% block navigation %}{% endblock %}

                    <li class="nav-item"><a class="nav-link" href="{% url 'explore' %}" id="explore-button">{% trans "Explore" %}</a></li>

                    {% if request.user.is_authenticated %}

                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="new-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'Create' %}</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="new-dropdown">
                            <a class="dropdown-item" href="{% url 'create_document' %}">
                                <span class="material-icons-button material-icons">insert_drive_file</span>
                                {% trans "New document" %}
                            </a>
                            <a class="dropdown-item" href="{% url 'create_collection' %}">
                                <span class="material-icons-button material-icons">book</span>
                                {% trans "New collection" %}
                            </a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle ml-4" href="#" id="profile-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if request.user.image %}
                                <img src="{{ request.user.image.url }}" class="header-profile-image mr-1" alt="{{ request.user.username }} {% trans 'profile image' %}">
                            {% else %}
                                <img src="{% static 'editor/images/default_user_image.svg' %}" class="header-profile-image no-image mr-1" alt="{{ request.user.username }} {% trans 'profile image' %}">
                            {% endif %}
                            {{ request.user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-dropdown">
                            <a class="dropdown-item" href="{% url 'user_profile' request.user.username %}">
                                <span class="material-icons-button material-icons">person</span>
                                {% trans "My Profile" %}
                            </a>
                            <a class="dropdown-item" href="{% url 'user_profile' request.user.username %}?tab=collections">
                                <span class="material-icons-button material-icons">book</span>
                                {% trans "My Collections" %}
                            </a>
                            <a class="dropdown-item" href="{% url 'user_profile' request.user.username %}?tab=documents">
                                <span class="material-icons-button material-icons">note</span>
                                {% trans "My Documents" %}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'stars' %}" id="starred">
                                <span class="material-icons-button material-icons">star</span>
                                {% trans "Starred" %}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'help_center' %}">
                                <span class="material-icons-button material-icons">help_center</span>
                                {% trans "Help center" %}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">
                                <span class="material-icons-button material-icons">exit_to_app</span>
                                {% trans "Log Out" %}
                            </a>
                        </div>
                    </div>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">{% trans "Sign in" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">{% trans "Sign up" %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    {% block footer %}
        <footer class="footer container">
            <div class="row">
                <div class="col-4">stvari.si</div>
                <div class="col-8">
                    <div class="row">

                        <ul class="col-3 list-unstyled">
                            <h6>PRODUCT</h6>
                            <li><a href="{% url 'help_center' %}">Tutorial</a></li>
                            <li><a href="{% url 'frequent_asked_questions' %}">FAQ</a></li>
                            <li><a href="{% url 'pricing' %}">Pricing</a></li>
                        </ul>
    
                        <ul class="col-3 list-unstyled">
                            <h6>OPEN SOURCE</h6>
                            <li><a href="https://github.com/Sladkorcek/Smirk">Smirk library</a></li>
                            <li><a href="{% url 'media' %}">Media</a></li>
                        </ul>
    
                        <ul class="col-3 list-unstyled">
                            <h6>ABOUT</h6>
                            <li><a href="{% url 'about' %}">About us</a></li>
                            <li><a href="{% url 'contact' %}">Contact us</a></li>
                            <li><a href="{% url 'privacy' %}">Privacy</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
</body>
</html>