{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <div class="row" style="min-height: 75vh;">
        <div class="col-md-6 d-flex justify-content-center align-items-center order-1">
            
            <div class="branding branding-padding">
                <p class="intro-text">{% trans "NOTE TAKING MADE EASY" %}</p>
                <h1>{% trans "Take your notes to a whole new level" %}</h1>
                <p class="lead mt-3 mb-4">{% trans "Add a little spice of interactivity to your note taking. Write notes that stick!" %}</p>
                <div class="mt-5">
                    <a href="{% url 'documents' %}" class="btn btn-lg button-secondary">{% trans "Start taking notes now!" %}</a>
                </div>
            </div>

        </div>
        <div class="col-md-6 mt-5 mt-md-0 d-flex justify-content-center align-items-center order-2 order-md-2-first">
            <div class="branding-padding">
                <img src="{% static 'editor/images/taking_notes.svg' %}" alt="Branding illustration" class="branding-image">
            </div>
        </div>
    </div>
</div>

<div class="separator-bottom mt-5 mt-md-0">
    <div class="container pb-5">
        <div class="text-center branding-padding">
            <h1>{% trans "Notes your way" %}</h1>
            <p class="is-bigger">{% trans "You don't need to be a rocket-scientist to reach the cloud." %}</p>
        </div>
        <div class="row mt-3 mt-md-5">
            <div class="col-md-3 mt-md-0 mt-3 feature branding-padding text-center text-md-left">
                <span class="material-icons">notes</span>
                <h5>{% trans "Beautiful documents in seconds" %}</h5>
                <p>{% trans "Create rich text documents using extended markdown language. Don't know it yet? Worry not, you can format your text in our easy-to-use online editor." %}</p>
            </div>
            <div class="col-md-3 mt-md-0 mt-3 feature branding-padding text-center text-md-left">
                <span class="material-icons">library_books</span>
                <h5>{% trans "Organize documents into collections" %}</h5>
                <p>{% trans "Gather your and collective knowledge into well rounded units and share it forward. Organize your documents your own way!" %}</p>
            </div>
            <div class="col-md-3 mt-md-0 mt-3 feature branding-padding text-center text-md-left">
                <span class="material-icons">share</span>
                <h5>{% trans "Share notes with your friends" %}</h5>
                <p>{% trans "Share your documents and collections with your friends and colleagues. Control who can see what with our privacy options." %}</p>
            </div>
            <div class="col-md-3 mt-md-0 mt-3 feature branding-padding text-center text-md-left">
                <span class="material-icons">content_cut</span>
                <h5>{% trans "Collaborate with the community" %}</h5>
                <p>{% trans "Build upon content made by others. See something you like? Clone it!" %}</p>
            </div>
        </div>
    </div>
</div>

<div class="mt-5">
    <div class="container pb-5">
        <div class="text-center branding-padding">
            <h1>{% trans "Interactivity" %}</h1>
            <p class="is-bigger">{% trans "Bring some life into your notes." %}</p>
        </div>

        <div class="row mt-3 mt-md-5">
            <div class="col-md-6 mt-md-0 mt-3 feature branding-padding text-center text-md-left">
                <p>{% trans "They say a picture is worth a thousand words, imagine what an interactive one can do." %}</p>
                <p>{% trans "Easy to use: Make the important things stand out, as easy as <strong>**this**</strong>" %}</p>
                <p>{% trans "Can you draw a curly bracket by hand? Neither can we. Write beautiful equations using LaTeX." %}</p>
            </div>
            <div class="col-md-6 mt-md-0 mt-3 feature branding-padding text-center">
                <img src="{% static 'editor/images/document_collaboration.svg' %}" alt="" class="smaller-branding-image">
            </div>
        </div>

    </div>
</div>

<div class="mt-5 call-to-action-container">
    <div class="container">
        <div class="text-center branding-padding">
            <h1 class="mb-4">{% trans "Work smarter, not harder!" %}</h1>
            <div class="d-flex flex-column flex-sm-row justify-content-center">
                <div><a href="{% url 'documents' %}" class="btn button-secondary-inverse btn-lg button-important m-2">Start writing!</a></div>
                <div><a href="{% url 'help_center' %}" class="btn button-secondary-outline btn-lg button-important m-2">Learn more</a></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}