{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <div class="row" style="min-height: 75vh;">
        <div class="col-md-6 d-flex justify-content-center align-items-center order-1">
            
            <div class="branding branding-padding">
                <p class="intro-text">{% trans "NOTE TAKING MADE EASY" %}</p>
                <h1>{% trans "Take your notes to a whole new level" %}</h1>
                <p class="lead mt-3 mb-4">{% trans "Add a little spice of interactivity to your note taking. Write notes that stick!" %}</p>
                <div class="mt-5">
                    <a href="{% url 'documents' %}" class="btn btn-lg button-secondary">{% trans "Start taking notes now!" %}</a>
                </div>
            </div>

        </div>
        <div class="col-md-6 mt-5 mt-md-0 d-flex justify-content-center align-items-center order-2 order-md-2-first">
            <div class="branding-padding">
                <img src="{% static 'editor/images/taking_notes.svg' %}" alt="Branding illustration" class="branding-image">
            </div>
        </div>
    </div>
</div>

<div class="separator-bottom mt-5 mt-md-0">
    <div class="container pb-5">
        <div class="text-center branding-padding">
            <h1>{% trans "Features" %}</h1>
            <p class="is-bigger">{% trans "Everything you need to take notes and more." %}</p>
        </div>
        <div class="row mt-3 mt-md-5">
            <div class="col-md-3 mt-md-0 mt-3 feature branding-padding text-center text-md-left">
                <span class="material-icons">notes</span>
                <h5>{% trans "Beautiful documents in seconds" %}</h5>
                <p>{% trans "Create reach text documents using extended markdown language. Don't know it yet? Worry not, you can format your text in our easy-to-use online editor." %}</p>
            </div>
            <div class="col-md-3 mt-md-0 mt-3 feature branding-padding text-center text-md-left">
                <span class="material-icons">library_books</span>
                <h5>{% trans "Organize documents into collections" %}</h5>
                <p>{% trans "Organize documents into collections." %}</p>
            </div>
            <div class="col-md-3 mt-md-0 mt-3 feature branding-padding text-center text-md-left">
                <span class="material-icons">share</span>
                <h5>{% trans "Share notes with your friends" %}</h5>
                <p>{% trans "Share your documents and collections with your friends and colleagues. Control who can see what with our privacy options." %}</p>
            </div>
            <div class="col-md-3 mt-md-0 mt-3 feature branding-padding text-center text-md-left">
                <span class="material-icons">content_cut</span>
                <h5>{% trans "Collaborate with the community" %}</h5>
                <p>{% trans "See something you like? Clone it!" %}</p>
            </div>
        </div>
    </div>
</div>

<div class="mt-5">
    <div class="container pb-5">
        <div class="text-center branding-padding">
            <h1>{% trans "Easy to use" %}</h1>
            <p class="is-bigger">{% trans "Make the important things stand out, as easy as <strong>**this**</strong>" %}</p>
        </div>

        <div class="row mt-3 mt-md-5">
            <div class="col-md-6 mt-md-0 mt-3 feature branding-padding text-center text-md-left">
                <ul>
                    <li>Use <strong>markdown</strong> language to write and style your documents easily</li>
                    <li>Add <strong>visual support</strong> to your documents - insert images, diagrams and plots</li>
                    <li>Write <strong>beautiful equations</strong> using LaTeX equations</li>
                </ul>
            </div>
            <div class="col-md-6 mt-md-0 mt-3 feature branding-padding text-center">
                <img src="{% static 'editor/images/document_collaboration.svg' %}" alt="" class="smaller-branding-image">
            </div>
        </div>

    </div>
</div>

<div class="mt-5" style="background: rgb(98,34,153); background: linear-gradient(180deg, rgba(98,34,153,1) 0%, rgba(111,45,168,1) 50%, rgba(98,34,153,1) 100%); color: white; padding: 6em 2em;">
    <div class="container">
        <div class="text-center branding-padding">
            <h1 class="mb-5" style="font-weight: 700; font-size: 3em;">{% trans "Work smarter, not harder!" %}</h1>
            <div>
                <a href="" class="btn btn-lg mr-2" style="background: white; color: #6f2da8; font-weight: 600; text-transform: uppercase; font-size: 1em; padding: 0.8em 1.2em;">Start writing!</a>
                <a href="" class="btn btn-lg ml-2" style="color: white; border: 1.2px solid white; font-weight: 600; text-transform: uppercase; font-size: 1em; padding: 0.8em 1.2em;">Learn more</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}