{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block title %}{% trans 'Explore trending' %}{% endblock %}

{% block content %}
<div class="container mt-5" style="padding-bottom: 10rem;">

    <div class="row">

        <div class="col-sm-12">
            <h3 class="mb-3">{% trans 'Trending collections' %}</h3>
            <div class="list-group">
                {% for collection, has_starred in trending_collections %}
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex flex-column flex-sm-row flex-wrap justify-content-center align-items-center">
                            <div class="collection-image-container trending-image-container">
                                {% if collection.image %}
                                    <img src="{{ collection.image.url }}" class="card-img" alt="{{ collection.title }} collection image" style="height: 100%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
                                {% else %}
                                    <img src="{% static 'editor/images/default_collection_image.svg' %}" alt="" class="no-image">
                                {% endif %}
                            </div>
                            
                            <div>
                                <a href="{% url 'display_collection' collection.uuid %}" class="color-primary">
                                    {{ collection.owner.username }} / <strong>{{ collection.title }}</strong>
                                </a>
                                <div><small class="text-muted">{{ collection.description }}</small></div>
                            </div>
                            <div class="ml-sm-auto mt-2">

                                {% if has_starred %}
                                    <a class="btn btn-sm btn-light" href="{% url 'unstar_collection' collection.uuid %}?next={% url 'explore' %}">
                                        <span class="material-icons-button material-icons">star</span> {% trans "Unstar" %}
                                        <span class="badge badge-light ml-2">{{ collection.number_of_stars }}</span>
                                        <span class="sr-only">stars</span>
                                    </a>
                                {% else %}
                                    <a class="btn btn-sm btn-light" href="{% url 'star_collection' collection.uuid %}?next={% url 'explore' %}">
                                        <span class="material-icons-button material-icons">star_border</span> {% trans "Star" %}
                                        <span class="badge badge-light ml-2">{{ collection.number_of_stars }}</span>
                                        <span class="sr-only">stars</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="no-elements">{% trans 'There are no trending collections yet.' %}</div>
                {% endfor %}
            </div>

            <h3 class="mb-3 mt-5">{% trans 'Trending documents' %}</h3>
            <div class="list-group">
                {% for document, has_starred in trending_documents %}
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex flex-wrap justify-content-left align-items-center">
                            <div>
                                <a href="{% url 'render_document' document.uuid %}" class="color-primary">
                                    {{ document.owner.username }} / <strong>{{ document.title }}</strong>
                                </a>
                                <div><small class="text-muted">{{ document.description }}</small></div>
                            </div>
                            <div class="ml-auto">
                                {% if has_starred %}
                                    <a class="btn btn-sm btn-light" href="{% url 'unstar_document' document.uuid %}?next={% url 'explore' %}">
                                        <span class="material-icons-button material-icons">star</span> {% trans "Unstar" %}
                                        <span class="badge badge-light ml-2">{{ document.number_of_stars }}</span>
                                        <span class="sr-only">stars</span>
                                    </a>
                                {% else %}
                                    <a class="btn btn-sm btn-light" href="{% url 'star_document' document.uuid %}?next={% url 'explore' %}">
                                        <span class="material-icons-button material-icons">star_border</span> {% trans "Star" %}
                                        <span class="badge badge-light ml-2">{{ document.number_of_stars }}</span>
                                        <span class="sr-only">stars</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="no-elements">{% trans 'There are no trending documents yet.' %}</div>
                {% endfor %}
            </div>

        </div>
    
    </div>

</div>
{% endblock %}