{% autoescape off %}

A password reset has been requested for your <a href="http://stvari.si">stvari.si</a> account: <strong>{{ user.get_username }}</strong>.

If you did not make this request, you can safely ignore this email.

Otherwise, the password can be changed on the link below

<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
</a>

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

Sincerely,
<a href="http://stvari.si">stvari.si security team</a>
{% endautoescape %}