{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load markdown %}

{% block title %}{{ document.owner.username }}/{{ document.title }}{% endblock %}

{% block head %}
    <!-- Notebook style -->
    <link rel="stylesheet" href="{% static 'editor/css/github-markdown.css' %}">
    
    <!-- Additional style for interactive elements -->
    <link rel="stylesheet" href="{% static 'editor/css/interactive.css' %}">

    <!-- The main interactive script -->
    <script src="{% static 'editor/js/interactive.js' %}"></script>

    <!-- Standard library of interactive elements such as buttons, graphs, ... -->
    <script src="{% static 'editor/js/interactive_elements.js' %}"></script>

    <script>
        // Configure MathJax to use dollar signs as delimiters
        MathJax = {
            processEscapes: true,
            tex: {
                inlineMath: [['$', '$']]
            }
        };
    </script>

    <!-- D3 library for working with data -->
    <script src="https://unpkg.com/d3@3/d3.min.js"></script>
    <!-- Library for plotting functions -->
    <script src="https://unpkg.com/function-plot@1/dist/function-plot.js"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block content %}
<section class="subheader">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="lead font-weight-normal">
                    <a href="{% url 'user_profile' document.owner.id %}" class="color-primary">{{ document.owner.username }}</a> / 
                    <a href="{% url 'render_document' document.id %}" class="font-weight-bold color-primary">{{ document.title }}</a>
                    <span class="badge badge-light ml-2 font-weight-normal">{{ document.visibility_name }}</span>
                </div>
                <div class="text-secondary">
                    <small>
                        {% blocktrans with date=document.created_at %}
                            Created at: {{ date }}
                        {% endblocktrans %}
                    </small>
                </div>
            </div>
            <div class="col-md-6 mt-3 mt-md-0">
                <div>
                    <div class="text-md-right">
                        {% if user_can_edit %}
                            <a class="btn btn-sm btn-light" href="{% url 'edit_document' document.id %}">
                                <span class="material-icons-button material-icons">create</span> {% trans "Edit" %}
                            </a>
                            <a class="btn btn-sm btn-light" href="{% url 'delete_document' document.id %}">
                                <span class="material-icons-button material-icons">delete</span> {% trans "Delete" %}
                            </a>
                        {% endif %}
                        <a class="btn btn-sm btn-light" href="{% url 'clone_document' document.id %}">
                            <span class="material-icons-button material-icons">file_copy</span> {% trans "Clone" %}
                        </a>
                        <a class="btn btn-sm btn-light" href="{% url 'raw_document' document.id %}" target="_blank">
                            <span class="material-icons-button material-icons">notes</span> {% trans "Raw" %}
                        </a>
                    </div>
                    <div class="text-md-right mt-1">

                        {% if has_starred %}
                            <a class="btn btn-sm btn-light" href="{% url 'unstar_document' document.id %}">
                                <span class="material-icons-button material-icons">star</span> {% trans "Unstar" %}

                                <span class="badge badge-light ml-2">{{ document.number_of_stars }}</span>
                                <span class="sr-only">stars</span>
                            </a>
                        {% else %}
                            <a class="btn btn-sm btn-light" href="{% url 'star_document' document.id %}">
                                <span class="material-icons-button material-icons">star_border</span> {% trans "Star" %}

                                <span class="badge badge-light ml-2">{{ document.number_of_stars }}</span>
                                <span class="sr-only">stars</span>
                            </a>
                        {% endif %}

                        {% if collections %}
                            <div class="btn-group" role="group">
                                <button id="button-add-to-collection" type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="material-icons-button material-icons">playlist_add</span>
                                    {% trans 'Add to collection' %}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="button-add-to-collection">
                                    {% for collection, is_in_collection in collections %}
                                        {% if is_in_collection %}
                                            <a class="dropdown-item" href="{% url 'render_document' document.id %}?action=remove&collection={{ collection.id }}">
                                                <span class="material-icons-button material-icons">check</span>
                                                {{ collection.title }}
                                            </a>
                                        {% else %}
                                            <a class="dropdown-item" href="{% url 'render_document' document.id %}?action=add&collection={{ collection.id }}">
                                                <span class="material-icons-button material-icons" style="visibility: hidden;">clear</span>
                                                {{ collection.title }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container mb-5">
    <div class="markdown-body mt-3">
        {% autoescape off %}
            {{ document.content | markdown }}
        {% endautoescape %}
    </div>
</div>
{% endblock %}