{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Edit document' %} {{ document.title }}{% endblock %}

{% block head %}
    <!-- Markdown editor -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <!-- Notebook style -->
    <link rel="stylesheet" href="{% static 'editor/css/github-markdown.css' %}">

    <!-- Script that loads markdown editor -->
    <script src="{% static 'editor/js/markdown_editor.js' %}"></script>

    <!-- Script for image uploads -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js"></script>
    <script src="{% static 'editor/js/image_upload.js' %}"></script>

    <!-- LaTeX renderer -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <!-- Smirk library -->
    <link rel="stylesheet" href="{% static 'editor/css/smirk.css' %}">
    <script src="{% static 'editor/js/smirk.js' %}"></script>

    {% if request.session.tutorial %}
        <script src="https://unpkg.com/driver.js/dist/driver.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/driver.js/dist/driver.min.css">
        <script src="{% static 'editor/js/tutorial/tutorial_user_profile.js' %}"></script>
    {% endif %}
{% endblock %}

{% block content %}

<div class="full-width-progress-bar">
    <div class="bar" id="top-progressbar"></div>
</div>

<div class="container mt-5">

    <form method="POST" action="{% url 'edit_document' document.uuid %}" id="document-form">
        {% csrf_token %}

        <div class="form-group">
            <label for="document-name" class="special-label">{% trans "Document title" %}</label>
            <input type="text" class="form-control title-input-field" id="document-name" name="document_name" value="{{ document.title }}">
        </div>
        
        <textarea name="document_content" id="content" style="width: 100%; border: none;">{{ document.content }}</textarea>
        
        <input type="submit" value="{% trans 'Save document' %}" class="btn button-secondary mt-3">
    </form>

    <div id="image-previews" style="display: none;"></div>

</div>

<div class="modal fade" id="upload-image" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "Upload image" %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div id="file-upload-help-text">
                    <p>{% trans "To upload image, click the 'Upload image' button below and chose an image on your device to be uploaded." %}</p>
                </div>

                <div id="file-upload-progress" style="display: none;">
                    <h4>{% trans "Uploading file..." %}</h4>
                    <p>{% trans "Please wait while the file is being sent to the server." %}</p>
                    <div class="progress">
                        <div class="progress-bar background-secondary" id="file-upload-progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div id="file-upload-success" style="display: none;">
                    <h4>{% trans "Upload successfull" %}</h4>
                    <p>{% trans "The file has been successfully uploaded to the server and inserted into your document." %}</p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn button-secondary" id="upload-image-button">Upload image</button>
            </div>
        </div>
    </div>
</div>

<div id="error-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "An unexpected error has occurred" %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="error-message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="image-upload" draggable="true">
    <div class="call-to-action-container" style="width: 100%">
        <div class="container">
            <div class="text-center branding-padding">
                <h1 class="mb-4">{% trans "Drop image here!" %}</h1>
                <p class="lead">{% trans "The image will be uploaded to our server and inserted into your document." %}</p>
            </div>
        </div>
    </div>
</div>

<div id="document-renderer" class="markdown-body" style="display: none;"></div>

{% endblock %}