{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Edit document' %} {{ document.title }}{% endblock %}

{% block head %}
    <!-- Markdown editor -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <!-- Script that loads markdown editor -->
    <script src="{% static 'editor/js/markdown_editor.js' %}"></script>
{% endblock %}

{% block content %}

    
<div class="container mt-5">

    <form method="POST" action="{% url 'edit_document' document.id %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="document-name" class="special-label">{% trans "Document title" %}</label>
            <input type="text" class="form-control title-input-field" id="document-name" name="document_name" value="{{ document.title }}">
        </div>
        
        <textarea name="document_content" id="content">{{ document.content }}</textarea>

        <div class="form-group mt-3">
            <label for="visibility-select" class="special-label">{% trans "Document visibility" %}</label>
            <select class="form-control" id="visibility-select" name="document_visibility">
                <option value="pr" {% if document.visibility == 'pr' %}selected{% endif %}>{% trans "PRIVATE" %} - {% trans "Only you can view" %}</option>
                <option value="li" {% if document.visibility == 'li' %}selected{% endif %}>{% trans "LINK" %} - {% trans "Anybody with link can view" %}</option>
                <option value="pu" {% if document.visibility == 'pu' %}selected{% endif %}>{% trans "PUBLIC" %} - {% trans "Everybody can view" %}</option>
            </select>
        </div>       
        
        <input type="submit" value="{% trans 'Save document' %}" class="btn button-secondary mt-3">
    </form>

</div>

{% endblock %}