.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

/* Header styling */
.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.header-button { margin-left: 3rem; }

/* Google material icon styling for buttons */
.material-icons-button {
    font-size: .875rem;
    margin-right: 0.2em;
    position: inherit;
    vertical-align: middle;
    margin-top: -4px;
}

/* Custom styles for interactive blocks */
.interactive-block {
    display: block;
    margin: 1em 0;
}

interactive {
    display: none;
}

.exception {
    background: #f1f1f1;
    padding: 2em;
    font-size: 1.2em;
}

/* Custom styles for editable fields */
.editable {
    padding: 0em 2em 0em 0.2em;
    border: 1px solid white;
    border-radius: 4px;
    transition: all 0.4s;
    position: relative;
}
.editable::after {
    content: '\e150';
    position: absolute;
    right: 0.4em;
    top: 50%;
    transform: translateY(-50%);
    color: transparent;
    font-family: 'Material Icons';
    font-size: 0.6em;
    font-weight: normal;
    transition: all 0.4s;
}
.editable:hover::after {
    color: #cacaca;
}
.editable:hover {
    border: 1px solid #cacaca;
}