.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
    border: 1px solid #e1e4e8;
    border-radius: 4px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

/* Landing page styling */
.navbar {
    min-height: 70px;
    border-bottom: 1px solid #ebeaeb;
}
.branding > h1 {
    font-weight: 700;
}
.branding > p {
    font-size: 1.4em;
    font-weight: normal;
}
.branding > p.intro-text {
    font-size: 0.9em;
    letter-spacing: 2px;
}
.branding-padding {
    padding-left: 2em;
    padding-right: 2em;
}
.branding-image {
    width: 90%;
}
.mt-more {
    margin-top: 4rem;
}
.mt-lots {
    margin-top: 6rem;
}
p.is-bigger {
    font-size: 1.4em;
}
.feature .material-icons {
    font-size: 1.8em;
    height: 1.5em;            
}
.feature > p {
    color: #2A2D35;
}
.separator-bottom {
    border-bottom: 1px solid #ebeaeb;
}
footer.footer {
    margin-bottom: 10rem;
}
.button-primary {
    background-color: #ffa500;
    border-color: #ffa500;
    color: white;
}
.button-primary:hover {
    background-color: #e69500;
    border-color: #e69500;
    color: white;
}
.button-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(255,165,0,.5)
}
.button-secondary {
    background-color: #6f2da8;
    border-color: #6f2da8;
    color: white;
}
.button-secondary:hover {
    background-color: #622299;
    border-color: #622299;
    color: white;
}
.button-secondary:focus {
    box-shadow: 0 0 0 .2rem rgba(111, 45, 168,.5)
}
.color-primary { color: #ffa500; }
a.color-primary:hover { color: #e69500; }
.color-secondary { color: #6f2da8; }
a.color-secondary:hover { color: #622299; }

/* Header styling */
.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/* The first element after header must have a 1rem margin except if it is a subheader */
.header + * { margin-top: 2rem !important; }
.header + .subheader { margin-top: 0 !important; }

.header-button { margin-left: 3rem; }

.subheader {
    background: white;
    padding: 2em 0;
}

/* Google material icon styling for buttons */
.material-icons-button {
    font-size: .875rem !important;
    margin-right: 0.2em;
    position: inherit;
    vertical-align: middle;
    margin-top: -4px;
}

/* Custom styles for interactive blocks */
.interactive-block {
    display: block;
    margin: 1em 0;
}

interactive {
    display: none;
}

.exception {
    background: #f1f1f1;
    padding: 2em;
    font-size: 1.2em;
}

/* Custom styles for editable fields */
.editable {
    padding: 0em 2em 0em 0.2em;
    border: 1px solid white;
    border-radius: 4px;
    transition: all 0.4s;
    position: relative;
}
.editable::after {
    content: '\e150';
    position: absolute;
    right: 0.4em;
    top: 50%;
    transform: translateY(-50%);
    color: transparent;
    font-family: 'Material Icons';
    font-size: 0.6em;
    font-weight: normal;
    transition: all 0.4s;
}
.editable:hover::after {
    color: #cacaca;
}
.editable:hover {
    border: 1px solid #cacaca;
}

.no-elements {
    padding: 1em;
    background-color: #f6f6f6;
}

.markdown-excerpt {
    padding: 45px;
    border: 1px solid #e1e4e8;
    border-radius: 4px;
}