{% load static %}
{% load i18n %}
{% load humanize %}

<section id="collections" style="max-width: 540px;">

    <div class="d-flex justify-content-between mb-4">
        {% if is_own_page %}
            <h3>{% trans "My collections" %}</h3>
            <div>
                <a href="{% url 'create_collection' %}" class="btn btn-sm button-secondary">
                    <span class="material-icons-button material-icons">book</span> {% trans "New" %}
                </a>
            </div>
        {% else %}
            <h3>{{ user.username }}'s {% trans "public collections" %}</h3>
        {% endif %}
    </div>
    
    {% for collection in collections %}

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <div class="collection-image-container">
                        {% if collection.image %}
                            <img src="{{ collection.image.url }}" class="card-img" alt="{{ collection.title }} collection image" style="height: 100%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
                        {% else %}
                            <img src="{% static 'editor/images/default_collection_image.svg' %}" alt="" class="no-image">
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ collection.title }}</h5>
                        <p class="card-text">{{ collection.description }}</p>
                        <p class="card-text"><small class="text-muted">
                            {% trans "Last updated" %} {{ collection.updated_at | naturaltime }}
                        </small></p>
                    </div>
                </div>
            </div>
            <a href="{% url 'display_collection' collection.uuid %}" class="stretched-link"></a>
        </div>
    {% empty %}
        {% if is_own_page %}
            <div class="no-elements">{% trans 'You have no collections yet.' %}</div>
        {% else %}
            <div class="no-elements"><strong>{{ user.username }}</strong> {% trans 'has no public collections yet.' %}</div>
        {% endif %}
    {% endfor %}
</section>

<section id="documents" class="mt-5" style="max-width: 540px;">
    <div class="d-flex justify-content-between mb-4">
        {% if is_own_page %}
            <h3>{% trans "My documents" %}</h3>
            <div>
                <a href="{% url 'create_document' %}" class="btn btn-sm button-secondary">
                    <span class="material-icons-button material-icons">insert_drive_file</span> {% trans "New" %}
                </a>
            </div>
        {% else %}
            <h3>{{ user.username }}'s {% trans "public documents" %}</h3>
        {% endif %}
    </div>

    <ul class="list-group">
        {% for document in documents %}
            <a href="{% url 'render_document' document.uuid %}" class="list-group-item list-group-item-action">
                <div class="d-flex justify-content-between">
                    <div><strong>{{ document.title }}</strong></div>
                    <div class="text-muted font-weight-light">{% trans "Last updated" %} {{ document.updated_at | naturaltime }}</div>
                </div>
            </a>
        {% empty %}
            {% if is_own_page %}
                <div class="no-elements">{% trans 'You have no documents yet.' %}</div>
            {% else %}
            <div class="no-elements"><strong>{{ user.username }}</strong> {% trans 'has no public documents yet.' %}</div>
            {% endif %}
        {% endfor %}
    </ul>

</section>