{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block title %}{% trans 'Starred documents and collections' %}{% endblock %}

{% block content %}
<div class="container mt-5" style="padding-bottom: 10rem;">

    <div class="row mb-5 no-gutters">
        <div class="col-sm-4 d-none d-sm-block">
            <ul class="nav nav-tabs">
                <li class="nav-item" style="visibility: hidden;"><a class="nav-link">User</a></li>
            </ul>
        </div>
        <div class="col-sm-8">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link color-primary {% if tab == 'collections' %} active{% endif %}" href="?tab=collections">Starred collections</a></li>
                <li class="nav-item"><a class="nav-link color-primary {% if tab == 'documents' %} active{% endif %}" href="?tab=documents">Starred documents</a></li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-4 order-1 mt-5 mt-sm-0">
            {% include "user/user_information.html" %}
        </div>

        <div class="col-sm-8 order-sm-2 order-first">

            {% if tab == 'collections' %}
                {% include "user/collections.html" %}
            {% else %}
                {% include "user/documents.html" %}
            {% endif %}

        </div>
    </div>

</div>
{% endblock %}