{% load static %}
{% load i18n %}

<div class="user-data">

    <div class="user-image">
        {% if user.image %}
            <img src="{{ user.image.url }}" alt="">
        {% else %}
            no image
        {% endif %}
    </div>

    <div class="user-username mt-2">
        {{ user.username }}
    </div>

    <div class="user-bio text-muted mt-2">
        {{ user.bio }}
    </div>

    <div class="edit-profile-button mt-3">
        <a href="" class="color-primary">Edit profile</a>
    </div>

</div>