{% load static %}
{% load i18n %}

<div class="user-data">

    <div class="user-image">
        {% if user.image %}
            <img src="{{ user.image.url }}" class="user-profile-image" alt="{{ request.user.username }} {% trans 'profile image' %}">
        {% else %}
            <img src="{% static 'editor/images/default_user_image.svg' %}" class="user-profile-image no-image"  alt="{{ request.user.username }} {% trans 'profile image' %}">
        {% endif %}
    </div>

    <div class="mt-3 pl-5 pr-5">
        <div class="user-username mt-2">
            {{ user.username }}
        </div>

        <div class="user-bio text-muted mt-2">
            {{ user.bio }}
        </div>

        {% if is_own_page %}
            <div class="edit-profile-button mt-3">
                <a href="" class="color-primary">Edit profile</a>
            </div>
        {% endif %}
    </div>

</div>