{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head %}
    <script>
        window.addEventListener('load', function() {
        document.getElementById("file-input").addEventListener('change', function(event) {
            var fileName = event.target.files[0].name;
            event.target.parentElement.querySelector(".custom-file-label").innerText = fileName;
        });

    });
    </script>
{% endblock %}

{% block title %}{% trans 'Edit your profile' %}{% endblock %}

{% block content %}
<div class="container mt-5" style="padding-bottom: 10rem;">

    <div class="row">

        <div class="col-sm-4">
            {% include "user/user_information.html" %}
        </div>

        <div class="col-sm-8 mt-5 mt-sm-0">
            
            <h2>{% trans "Edit your profile" %}</h2>
            <p>{% trans "Make your profile more interesting! Change your profile picture, tell us a little more about yourself." %}</p>

            <h3 class="mt-5">{% trans "General settings" %}</h3>

            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <input type="hidden" name="form" value="update_bio"/>

                <div class="form-group">
                    <label for="bio">{% trans 'Bio' %}</label>
                    <textarea name="{{ form.bio.html_name }}" class="form-control {% if form.bio.errors %}is-invalid{% endif %}" id="bio" rows="3">{{ form.bio.value | default_if_none:'' }}</textarea>
                    <div class="invalid-feedback">{{ form.bio.errors.as_text }}</div>
                </div>

                <div class="form-group">
                    <label for="image">{% trans 'Profile picture' %}</label>
                    <div class="custom-file" id="image">
                        <input type="file" name="{{ form.image.html_name }}" class="custom-file-input {% if form.image.errors %}is-invalid{% endif %}" id="file-input">
                        <label class="custom-file-label" for="file-input">{% trans 'Choose image' %}</label>
                        <div class="invalid-feedback">{{ form.image.errors.as_text }}</div>
                        {% if form.image.value %}
                            <small id="imageHelp" class="form-text text-muted">
                                {% trans 'Currently:' %} <a href="{{ form.image.value.url }}">{{ form.image.value }}</a>
                                <label class="ml-2">
                                    <input type="checkbox" name="image-clear" id="image-clear_id">
                                    {% trans "Remove" %}
                                </label>
                            </small>
                        {% endif %}
                    </div>
                </div>

                <button type="submit" class="btn button-secondary">{% trans 'Update profile' %}</button>

            </form>

            <h3 class="mt-5">{% trans "Account security" %}</h3>
            <p>Change your password or email account here.</p>

            <form action="" method="post">
                {% csrf_token %}

                <input type="hidden" name="form" value="change_password"/>

                <div class="form-group">
                    <label for="old_password">{% trans 'Old password' %}</label>
                    <input type="password" name="{{ password_change_form.old_password.html_name }}" class="form-control {% if password_change_form.old_password.errors %}is-invalid{% endif %}" id="old_password"/>
                    <div class="invalid-feedback">{{ password_change_form.old_password.errors.as_text }}</div>
                </div>

                <div class="form-group">
                    <label for="new_password1">{% trans 'New password' %}</label>
                    <input type="password" name="{{ password_change_form.new_password1.html_name }}" class="form-control {% if password_change_form.new_password1.errors %}is-invalid{% endif %}" id="new_password1"/>
                    <div class="invalid-feedback">{{ password_change_form.new_password1.errors.as_text }}</div>
                </div>

                <div class="form-group">
                    <label for="new_password2">{% trans 'New password confirmation' %}</label>
                    <input type="password" name="{{ password_change_form.new_password2.html_name }}" class="form-control {% if password_change_form.new_password2.errors %}is-invalid{% endif %}" id="new_password2"/>
                    <div class="invalid-feedback">{{ password_change_form.new_password2.errors.as_text }}</div>
                </div>

                <button type="submit" class="btn button-secondary">{% trans 'Change password' %}</button>

            </form>

        </div>
    </div>

</div>
{% endblock %}